button{
  border: none;
  cursor:pointer;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 0.5px 2px 0 rgba(0,0,0,0.19);
}

button:hover{
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.24), 0 3px 5px 0 rgba(0,0,0,0.19);
}

.btn-show-login{
  margin-left: 850px;
}

.btn-show-create{
  margin-left: 20px;
}

.btn-create-wallet{
  position: absolute;
  right: 50px;
}

.create-wallet{
  display: none;
  position: absolute;
  width: 330px;
  top: 5px;
  left: 700px;
  
}

.login-wallet{
  display: none;
  position: absolute;
  top: 5px;
  left: 700px;
}

.wallet-div{
  display: none;
  background-color: #FAFAFA;
  box-shadow: 1px 1px whitesmoke;
  margin-top: 100px;
  height: 350px;
  width: 500px;
  padding-left: 10px;

}

.wallet-header{
  text-align: center;
}

label{
  font-size: 20px;
  margin-right: 15px;
}

.input-amount{
  margin-left: 105px;
}

.input-key{
  margin-left: 98px;
}

.btn-transfer{
  margin-left: 190px;
  width: 80px;
  height: 30px;
}

.btn-logout{
  margin-left: 96%;
}